<swiper-container
  effect="cards"
  grab-cursor="true"
  style="width: 600px"
  autoplay="true"
>
  <swiper-slide>
    <img src="https://picsum.photos/600/800?random=1" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/600/800?random=2" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/600/800?random=3" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/600/800?random=4" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/600/800?random=5" />
  </swiper-slide>
</swiper-container>
